<div class="col-md-5 col-sm-md-lg-cap">
    <div class="col-inner-cap ng-cloak" id="optiongroupsMianDiv">
        <div class="OptionGroupsHeader">
            <h3>Bundles &amp; Options</h3>
        </div>
        <div>
            <span class="optionGroupanchortags">
                <ul class="list-inline">
                    <li ng-repeat="optiongroup in grpCtrl.currentproductoptiongroups">
                        <a ng-click="grpCtrl.gotosection(optiongroup.groupName)">
                            <div ng-bind-html="optiongroup.groupName | unsafe"></div>
                        </a>
                    </li>
                </ul>
            </span>
        </div><br/>
        <accordion close-others="false">
            <!-- id for heading is must for anchortags to work -->
            <accordion-group ng-repeat="optiongroup in grpCtrl.currentproductoptiongroups" is-open="true">
                <accordion-heading>
                    <div id="anchor{{optiongroup.groupName}}" ng-bind-html="optiongroup.groupName | unsafe"></div>
                </accordion-heading>
                <table>
                    <tr class="row" ng-repeat="pcomponent in optiongroup.productOptionComponents | filter: {isActive: true}" ng-show="pcomponent.isAvailableonSLocation">
                        <td class="col-sm-1">
                            <div ng-show="optiongroup.ischeckbox" id="opCheckbox">
                                <input type="checkbox" ng-change="grpCtrl.renderoptionproductattributes(pcomponent, $parent.$index)" ng-model="pcomponent.isselected" ng-disabled="pcomponent.isDisabled">
                                </input>
                            </div>
                            <div ng-show="!optiongroup.ischeckbox" id="opRadio">
                                <input ng-click="grpCtrl.renderoptionproductattributes(pcomponent, $parent.$index)" type="radio" ng-model="optiongroup.selectedproduct" ng-value="pcomponent.productId" ng-disabled="pcomponent.isDisabled">
                                </input>
                            </div>
                        </td>
                        <td class="col-sm-8">
                            <div>
                                <a href="#" title="Configure" ng-click="grpCtrl.rendercurrentproductoptiongroups(null, pcomponent, $parent.$index, true)" ng-show="pcomponent.hasOptions">
                                    <img src="{{grpCtrl.constants.baseUrl}}/Images/Apttus_Config2_Configure_bundle.png" alt="Configure"/>
                                </a>
                                <a target="_blank" href="/{{pcomponent.productId}}">
                                    <div style="display:inline;" ng-bind-html="pcomponent.productName | unsafe"></div>
                                </a>
                            </div>
                        </td>
                        <td class="col-sm-2">
                            <div ng-show="pcomponent.componentId != null" style="float:left;display:inline">
                                <span style="padding-left: 4px; padding-right: 2px;display:inline;">Qty</span>
                                <input type="number" style="text-align: right; width:3em;" ng-model="pcomponent.quantity" ng-change="grpCtrl.changeQuantity(pcomponent)" ng-disabled="pcomponent.isDisabled"/>
                            </div>
                        </td>
                        <td class="col-sm-1">
                            <a ng-show="pcomponent.componentId != null && pcomponent.hasAttributes && pcomponent.isDisabled != true" href="#" title="Configure Attributes" ng-click="grpCtrl.selectProductrenderoptionproductattributes(pcomponent, $parent.$index)">
                                <img src="{{grpCtrl.constants.baseUrl}}/Images/Apttus_Config2_configure_attributes.png"/>
                            </a>
                        </td>
                    </tr>
                </table>
            </accordion-group>
        </accordion>
    </div>
</div>