<div class="row row-cap">
    <div class="col-md-12 col-sm-md-lg-cap">
        <tabset vertical="false" type="pills" justified="true">
            <tab heading="Configure Bundle">
                <br/>
                <br/>
                <div class="row row-cap">
                    <!-- Start of Service Locations -->
                    <service-locations></service-locations>
                    <!-- End of Service Locations -->
                </div>

                <!--Row with two column-->
                <div class="row row-cap">
                    <!-- Bundle Attributes Area -->
                    <bundle-attributes></bundle-attributes>
                    <!-- End of Bundle Attributes Area -->

                    <!-- Pricing Matrix Area -->
                    <pricing-matrix></pricing-matrix>
                    <!-- End Of Pricing Matrix Area -->
                </div>
            </tab>
            <tab heading="Configure Options">
                <br/>
                <br/>
                <!--Row with single column-->
                <div class="row row-cap">
                    <!-- Start of Selected Service Locations -->
                    <selected-service-location></selected-service-location>
                    <!-- End of Selected Service Locations -->
                </div>

                <!--Row with three column-->
                <div class="row row-cap">
                    <!-- start of option group section -->
                    <option-groups></option-groups>
                    <!-- End of option group section -->

                    <!-- Option Attributes Area Start -->
                    <option-attributes></option-attributes>
                    <!-- End of Option attributes section -->

                    <!-- third column -->
                    <div class="col-md-3 col-sm-md-lg-cap">
                        <validate-config></validate-config>
                        <br/>

                        <!-- Start of option Group Hierarchy Area -->
                        <option-groups-hierarchy></option-groups-hierarchy>
                        <!-- End of option Group Hierarchy Area -->
                    </div>
                </div>
                
                <!--Row with single column-->
                <div class="row row-cap">
                    <!-- Start of recommendations -->
                    <recommendations></recommendations>
                    <!-- End of recommendations -->
                </div>
            </tab>
        </tabset>
    </div>
</div>