<div class="row row-cap">
    <nav class="navbar navbar-fixed-top navbar-inverse navbar-cap" role="navigation">
        <div class="container-fluid">
            <div class="navbar-form">
                <ul class="nav navbar-nav">
                    <li>
                        <strong>Proposal:</strong>
                        <span>
                            <a href="/{{PageHeader.QuoteId}}" target="_blank">{{PageHeader.QuoteNumber}}</a>&nbsp;
                            <span>{{PageHeader.QuoteName}}</span>
                        </span>        
                    </li>
                    <li>
                        <strong>
                            Approval Status:
                        </strong>
                        <span>{{PageHeader.ApprovalStatus}}</span>
                    </li>
                </ul>

                <mini-cart></mini-cart>
            </div>
        </div>
    </nav>
</div>