<div class="col-md-7 col-sm-md-lg-cap" ng-show="Ctrl.displayPricingMatrix">
    <div class="col-inner-cap">    
        <h3>Pricing Matrix</h3>

        <!-- Pricing Matrix Pagination Start -->
        <div class="text-center" ng-controller="paginationControlsCtrl">
            <dir-pagination-controls pagination-id="PriceMatrixPagination" boundary-links="true"></dir-pagination-controls>
        </div>
        <!-- Pricing Matrix Pagination End -->
        
        <!-- Pricing Matrix Table Start -->
        <table class="table table-bordered  table-striped table-hover sticky-header">
            <thead>
                <th ng-repeat="dimension in Ctrl.dimensions">{{Ctrl.pavfieldDescribeMap[dimension].fieldDescribe.fieldLabel}}</th>
            </thead>
            <tbody>
                <tr pagination-id="PriceMatrixPagination" dir-paginate="item in Ctrl.filteredItems | itemsPerPage:20" class="angularPricingMtr">
                    <td ng-repeat="dimension in Ctrl.dimensions" class="border-bottomPricing">{{item[dimension]}}</td>
                </tr>
            </tbody>
        </table>
        <!-- Pricing Matrix Table End -->
    </div>                                
</div>